/* src/App.css */

body {
  font-family: 'Inter', sans-serif;
}

.responsive-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9ff;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filters-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e3f0ff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.apartment-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 6px 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-size-selector {
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: #f4f4f4;
  color: #333;
}

.page-size-selector:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}


.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f4f6f8;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.app-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #202734;
  display: flex;
  align-items: center;
  gap: 8px;
}

.results-count {
  font-size: 1rem;
  color: #202734;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
}

.page-change-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

